@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

*{
    margin: 0;
    padding: 0;
}


h1{
    text-align: center;
    color: #0F2137;
    font-family: B612;
    font-size: 48px;
    padding-bottom: 20px;
    width: 850px;
}

h2{
    color: #0F2137;
    font-family: B612;

}

p{
    font-size: 16px;
    font-family: DM Sans;
    color: #0F2137;
    padding-bottom: 20px;
    text-align: center;
}

h3{
    font-size: 17px;
    color: #0F2137;
    font-family: B612;
}

li{
    list-style: none;
}

a{
    color: #0F2137;
    text-decoration: none;
}

#navGreen{
    color: #0A8080;
}

#buttonA{
    color: white;
}

#buttonIntro{
    background-color: #0A8080;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    font: bold;
    border: #0A8080;
}

.header{
    margin-bottom: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
}

nav li{
    font-size: 16px;
    font-family: sans-serif;
}

#logo{
    display: flex;
    align-items: center;
    width: 10%;
    height: 70px;
}

.listAfterLogo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 70px;
}

nav ul li{
    padding-left: 40px;
}

.lastListNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 70px;
}

#firstSection{
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
}

section{
    margin-bottom: 60px;
}

.allSections{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.allSections img{
    width: 1400px;
}

#companyLogo img{
    height: 50px;
}

.containerOfAllCart{
    display: flex;
    justify-content: space-around;
}

.allCart{
    display: flex;
    justify-content: space-evenly;
}

.allCart img{
    width: 100%;
}

.iconCart{
    padding-right: 20px;
}

#cartIntro{
    padding-bottom: 100px;
}

.allCartText{
    width: 200px;
}

.allCartText p{
    text-align: left;
}

#quoteSection{
    width: 850px;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: start;
}

#quote{
    font-size: 24px;
    text-align: left;
}

#quoteAutor {
    font-size: 16px;
    text-align: left;
    color: #7E8896;
}

#companyLogo{
    display: flex;
    justify-content: space-around;
}

#sectionblog{
    padding-top: 130px;
}

#popularBlogsIntro{
    padding-bottom: 100px;
}

#popularBlogsIntro h2{
    text-align: center;   
}

#popularBlogsContent{
    display: flex;
    gap: 20px;
}

.popularBlogsSection1{
    position: relative;
    height: 500px;
    width: 400px;
}

#blogImg1{
    width: 350px;
}

#blogSectionFirst{
    height: 220px;
    width: 350px;
}

.blogSection p{
    text-align: left;
    line-height: 30px;
}

.blogSection h3{
    text-align: left;
    line-height: 30px;
}

.popularBlogsSection2{
    position: relative;
    height: 500px;
    width: 400px;
}

#blogImg2{
    width: 350px;
}

#blogSection2Div1{
    height: 160px;
}

#blogSection2Div2{
    height: 170px;
}

#blogSection2Div3{
    height: 120px;
}

.popularBlogsSection3{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 500px;
    width: 400px;
}

.popularBlogsSection3 h3{
    width: 300px ;
    text-align: right;
    padding-bottom: 20px;
    color: white;
}

#blogSection3Div1{
    height: 230px;
    width: 350px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url(img/img3_blog.png);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,1);
}

#blogSection3Div2{
    height: 230px;
    width: 350px;
    display: flex;
    align-items: end;
    background-image: url(img/img4_blog.png);
    background-size: cover;
    box-shadow: black;
}

.emailUsSubscribe{
    display: flex;
    justify-content: space-around;
    height: 380;
    width: 100%;
    background-color: #F8F0EA;
}

.subscribeForm{
    display: flex;
    align-items: center;
}

.subscribeForm h3{
    color: ;
    font-family: B612;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; 
    letter-spacing: -0.5px;
    padding-left: 25px;
    text-align: left;
}

.subscribeForm p{
    color: #343D48;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-left: 25px;
    width: 360px;
    text-align: left;
}

input{
    font-size: 16px;
    font-family: DM Sans;
    border-radius: 10px;
    background: #EFF3F7;
    width: 400px;
    padding: 20px 40px;
}

button{
    font-size: 16px;
    font-family: DM Sans;
    background: #0A8080;
    padding: 20px 40px;
    border-radius: 10px;
    color: white;
}

label{
    font-size: 16px;
    font-family: DM Sans;
    color: #0F2137;
    padding-top: 50px;
    text-align: center;
}

.paddindSubscribe{
    padding-right: 20px;
}

footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.ulFooter{
    display: flex;
    flex-direction: column;
}

.ulFooter li{
    color: #02073E;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 250%;
}

.ulFooter h3{
    margin-bottom: 20px;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.logoFooter{
    color: #02073E;
    font-family: sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}